<!DOCTYPE html>
<html>
<head>
    <title>World of Warcraft 2.0 - Character Manager</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="styles/blizz2p0.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
</head>
<body ng-app="character-app" ng-controller="app-controller">
    <div id="character-select-app" ng-controller="character-select-controller">
        <div ng-if="appState == appStates.select">
            <ul class="character-list">
                <li ng-repeat="character in characterList">
                    <div class="character-block {{ characterBlockClass(character) }}" ng-class="{ 'selected-block': character.selected }" ng-click="characterBlockClickHandler(character.id)">
                        <img class="character-block-token" ng-if="character.level < 100" src="img/100_coin.png" ng-click="oneHundredCoinClickHandler(character.id)" />
                        <div class="character-block-name">{{ character.name }}</div>
                        <div class="character-block-level">Level {{ character.level }}</div>
                        <div class="character-block-race">{{ character.race }} {{ character.class }}</div>
                    </div>
                </li>
                <li ng-if="characterList.length == 0">
                    <p>Click 'New' to create a new character.</p>
                </li>
                <li class="character-block-buttons">
                    <a class="character-button" ng-if="!undeleteMode" ng-click="newCharacterButtonClickHandler()">New</a>
                    <a class="character-button" ng-if="!undeleteMode" ng-click="deleteCharacterButtonClickHandler()">Delete</a>
                    <a class="character-button" ng-if="undeleteMode" ng-click="undeleteCharacterButtonClickHandler()">Undelete</a>
                    <br/>
                    <br/>
                    <a class="character-button" ng-if="!undeleteMode" ng-click="undeleteModeCharacterButtonClickHandler()">Undelete</a>
                    <a class="character-button" ng-if="undeleteMode" ng-click="cancelUndeleteModeButtonClickHandler()">Cancel</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="character-create-app" ng-controller="character-create-controller">
        <div ng-if="appState == appStates.create">
            <div class="character-create-block alliance-block">
                <img src="img/alliance_logo.png" />
                <div class="race-block list-block-component">
                    <ul>
                        <li ng-repeat="race in allianceRaces" ng-class="{ 'selected-block' : race.selected }" ng-click="raceClickHandler(race.name, 'alliance')">{{ race.name }}</li>
                    </ul>
                </div>
                <div class="class-block list-block-component">
                    <ul ng-repeat="classCol in wowClasses" ng-if="currentFaction == 'alliance'">
                        <li ng-repeat="class in classCol" ng-class="{ 'selected-block' : class.selected }" ng-click="classClickHandler(class.name)">{{ class.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="character-create-block horde-block">
                <img src="img/horde_logo.png" />
                <div class="race-block list-block-component">
                    <ul>
                        <li ng-repeat="race in hordeRaces" ng-class="{ 'selected-block' : race.selected }" ng-click="raceClickHandler(race.name, 'horde')">{{ race.name }}</li>
                    </ul>
                </div>
                <div class="class-block list-block-component">
                    <ul ng-repeat="classCol in wowClasses" ng-if="currentFaction == 'horde'">
                        <li ng-repeat="class in classCol" ng-class="{ 'selected-block' : class.selected }" ng-click="classClickHandler(class.name)">{{ class.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="character-name-input-block character-block-buttons">
                <h3 class="error" ng-if="error != null">{{ error }}</h3>
                <h3>Name</h3>
                <input type="text" name="character-name" ng-model="newCharacterData.name" />
                <a class="character-button" ng-click="createNewCharacterButtonClickHandler()">Create</a>
                <a class="character-button" ng-click="cancelNewCharacterButtonClickHandler()">Cancel</a>
            </div>
        </div>
    </div>

    <script src="scripts/characterApplication.js"></script>
    <script src="scripts/services/users.js"></script>
    <script src="scripts/services/characters.js"></script>
    <script src="scripts/services/races.js"></script>
    <script src="scripts/controllers/app.js"></script>
    <script src="scripts/controllers/characterSelect.js"></script>
    <script src="scripts/controllers/characterCreate.js"></script>
</body>
</html>
